.modal-wrapper {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

  .modal-body {
    max-width: 350px;
    display: flex;
    flex-direction: column;
    width: 100%;
    background: white;
    border-radius: 5px;
    box-shadow: 0 2px 20px 7px rgb(0 0 0 / 16%);
    padding: 20px;

    .title {
      font-size: 20px;
      font-weight: 600;
      color: #616161;
      margin-bottom: 20px;
    }

    .product-info {
      display: flex;
      flex-direction: row;
      align-items: center;
      margin-bottom: 27px;

      &--image {
        width: 70px;
        height: 70px;
        border-radius: 50%;
        background-size: cover !important;
        position: relative;
        border: solid 2px #adadad;

        &--quantity {
          position: absolute;
          background: white;
          width: 25px;
          display: flex;
          justify-content: center;
          align-items: center;
          border-radius: 50%;
          bottom: 0;
          right: -10px;
          border: solid 2px #9c9c9c;
          color: #656565;
          height: 25px;
          font-weight: 900;
        }
      }

      &--name {
        font-size: 16px;
        margin-left: 27px;
        font-weight: 600;
        color: #8e8e8e;
      }
    }

    .app-btn--accept {
      width: 110px;
      align-self: center;
    }
  }
}
